<div class="col-md-6">
  <div class="title mb-30 mt-30">
    <h1>Create New Volunteer</h1>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <%= render 'form', volunteer: @volunteer %>
  </div>
</div>
