body {
  background-color: #F4F7FA;
  // min-height: 100vh;
  min-width: 320px;
}

.content {
  margin-left: 320px;
  padding: 4%;
  position: relative;
  overflow: auto;
}

label {
  font-weight: 900;
}

.fa-car {
  color: #00447C;
}

.card.card-container {
  box-shadow: 0 4px 12px 5px rgba(0,0,0,0.08);
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 3rem 0;
    margin-left: 0;
  }

  .card-body {
    padding: 0.5rem;
  }
  
  table.table {
    thead {
      display: none;
    }

    tr {
      display: table;
      width: 100%;
      border-bottom: 1px solid #efefef;
      > * {
        display: block;
      }
    }

    th, td {
      border-top: none;
      font-size: 1.25rem;
      span.mobile-label {
        color: #757575;
        display: block;
        font-size: 0.9rem;
      }
    }
  }
}
