.navbar {
  background: #00447c;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.28);
  display: none;
  height: 72px;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  z-index: 3;
}

.mobile-icon {
  top: -2px;
  width: 40px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    display: flex;
  }
}
