<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">We're sorry, but something went wrong.</h1>
    <p class="card-text">If you are the application owner check the logs for more information.</p>
  </div>
</div>
