<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">Intentional Error Test</h1>
    <p class="card-text" style="color:grey">Click the button below to trigger an intentional test exception.</p>
    <%= button_to "Trigger Exception", error_path, method: :post, class: "btn btn-danger", data: { turbo: false } %>
  </div>
</div>
