<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title" style="color:red">We're sorry, but something went wrong.</h1>
    <p class="card-text" style="color:grey">If you are the application owner check the logs for more information.</p>
  </div>
</div>
