<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Generate Reports</h1>
      </div>
    </div>
  </div>
</div>
<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <h6 class="mb-10">Court Reports</h6>
        <%= render "case_court_reports/generate_docx" %>
      </div>
    </div>
  </div>
</div>

<script>
  const ELEMENTS = {
    'caseSelect': '#case-selection',
    'generateBtn': '#btnGenerateReport',
  }
  const showBtn = el => el.classList.remove('d-none')
  const enableBtn = (el) => {
    el.disabled = false
    el.classList.remove('disabled')
    el.removeAttribute('aria-disabled')
  }

  const handleSelect = (e) => {
    const selectEl = e.target
    const generateBtn = selectEl.form.querySelector(ELEMENTS.generateBtn)

    // when selecting a case, reset buttons to initial state
    enableBtn(generateBtn)
    showBtn(generateBtn)
  }

  const bindElements = () => {
    const caseSelectEl = document.querySelector(ELEMENTS.caseSelect)

    if (caseSelectEl)
      caseSelectEl.addEventListener('change', handleSelect)
  }

  const setTimeZone = () => {
     if(!$('#case-selection').val()){
      alert('Select an active case and specify the date range.');
    }
    const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone
    document.getElementById("user-time-zone").value = timeZone
  }

  window.onload = function () {
    bindElements()
  }
</script>
