<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Volunteers</h1>
    <%= link_to "New Volunteer", new_volunteer_path, class: "btn btn-primary" %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#visibleColumns">
      Pick displayed columns
    </button>
  </div>
</div>
<hr>

<%= render "volunteer_filters" %>

<%= render "volunteers_table" %>

<br>
<%= render "casa_cases" %>
<br>
