<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Volunteers</h1>
  </div>
</div>
<hr>
# frozen_string_literal: true
render 'volunteer_filters', logged_in_supervisor: logged_in_supervisor
 %>
# frozen_string_literal: true
render 'volunteers_table'
 %>
<br>
# frozen_string_literal: true
render 'casa_cases'
 %>
<br>
