<%= form_with(model: @note, local: true, url: volunteer_note_path(@volunteer, @note)) do |form| %>
  <h3>Update Volunteer Note</h3>

  <div class="input-style-1">
    <%= form.text_area :content,
      rows: 5,
      placeholder: "Enter a note regarding the volunteer. These notes are only visible to CASA administrators and supervisors.",
      class: "form-control" %>
  </div>

  <%= button_tag(
    type: "submit",
    class: "main-btn primary-btn btn-hover btn-sm",
    id: "note-submit"
  ) do %>
    Update Note
  <% end %>
<% end %>
