<%= form_with(model: @note, local: true, url: volunteer_note_path(@volunteer, @note)) do |form| %>
  <h3>Update Volunteer Note</h3>

  <div class="form-group">
    <%= form.text_area :content,
      rows: 5,
      placeholder: "Enter a note regarding the volunteer. These notes are only visible to CASA administrators and supervisors.",
      class: "form-control" %>
  </div>

  <%= form.submit "Update Note", class: "btn btn-primary", id: "note-submit" %>
<% end %>
