# frozen_string_literal: true
link_to 'Back', root_path
 %>

<h1>Editing Supervisor</h1>

<div class="row">
  <div class="col-sm-6">
# frozen_string_literal: true
form_for @supervisor, as: :supervisor, url: supervisor_path(@supervisor)
 do |form| %>
      <% if @supervisor.errors.any? %>
        <div id="error_explanation">
# frozen_string_literal: true
pluralize(@supervisor.errors.count, 'error')
 %> prohibited this supervisor from being saved:</h2>

          <ul>
# frozen_string_literal: true
@supervisor.errors.full_messages.each
 do |message| %>
# frozen_string_literal: true
message
 %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
# frozen_string_literal: true
form.label :email
 %>
        <% if policy(@supervisor).update_supervisor_email? %>
# frozen_string_literal: true
form.text_field :email, class: 'form-control'
 %>
        <% else %>
# frozen_string_literal: true
@supervisor.email
 %>" readonly>
        <% end %>
      </div>

      <div class="field form-group">
# frozen_string_literal: true
form.label :display_name
 %>
        <% if policy(@supervisor).update_supervisor_name? %>
# frozen_string_literal: true
form.text_field :display_name, class: 'form-control'
 %>
        <% else %>
# frozen_string_literal: true
@supervisor.display_name
 %>" readonly>
        <% end %>
      </div>

      <div class="actions">
        <% if policy(@supervisor).update_supervisor_email? || policy(@supervisor).update_supervisor_name? %>
# frozen_string_literal: true
form.submit 'Submit', class: 'btn btn-primary'
 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if @supervisor.supervisor_volunteers.present? %>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h3>Assigned Volunteers</h3>
      <table class='table volunteer-list'>
        <thead>
          <tr>
            <th>Volunteer Name</th>
            <th>Volunteer Email</th>
            <th>Unassign</th>
          </tr>
        </thead>
        <tbody>
# frozen_string_literal: true
@assigned_volunteers.each
 do |volunteer| %>
            <tr>
# frozen_string_literal: true
link_to volunteer.decorate.name, edit_volunteer_path(volunteer)
 %></td>
# frozen_string_literal: true
volunteer.email
 %></td>
              <td>
                <% if volunteer.supervisor_volunteer.is_active? %>
# frozen_string_literal: true
button_to 'Unassign', unassign_supervisor_volunteer_path(volunteer), method: :patch, class: 'btn btn-danger'
 %>
                <% else %>
                  Unassigned
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<br>

<div class="row">
  <div class="col-sm-6">
    <h3>Assign a Volunteer</h3>

# frozen_string_literal: true
form_for SupervisorVolunteer.new, url: supervisor_volunteers_path(supervisor_id: @supervisor.id)
 do |form| %>

      <div class='form-group'>
        <label for='supervisor_volunteer_volunteer_id'>Select a Volunteer</label>
        <select name='supervisor_volunteer[volunteer_id]' class='form-control'>
# frozen_string_literal: true
@available_volunteers.each
 do |volunteer| %>
# frozen_string_literal: true
volunteer.decorate.name
 %></option>
          <% end %>
        </select>
      </div>

# frozen_string_literal: true
form.submit 'Assign Volunteer', class: 'btn btn-primary'
 %>
    <% end %>
    <% unless @available_volunteers.any? %>
      <p class="text-danger">There are no active, unassigned volunteers available.</p>
    <% end %>
  </div>
</div>
