<p>
  <strong>Volunteer user:</strong>
  <%= @supervisor_volunteer.volunteer_id %>
</p>

<p>
  <strong>Supervisor user:</strong>
  <%= @supervisor_volunteer.supervisor_id %>
</p>

<%= link_to 'Edit', edit_supervisor_volunteer_path(@supervisor_volunteer) %> |
<%= link_to 'Back', supervisor_volunteers_path %>
