<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Admins</h1>
        <%= link_to "New Admin", new_casa_admin_path, class: "main-btn primary-btn btn-hover mt-10 mb-10" %>
      </div>
    </div>
  </div>
</div>
  <!-- end col -->   

<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="admins">
      <thead>
      <tr>
        <th>Admin Email</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @admins.each do |admin| %>
        <tr id="admin-<%= admin.id %>">
          <th scope="row">
            <%= admin.email %>
            <% unless admin.active? %>
              <span class="badge badge-danger display-1 text-uppercase">
                Deactivated
              </span>
            <% end %>
          </th>
          <td>
            <%= link_to "Edit", edit_casa_admin_path(admin) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
