# frozen_string_literal: true
resource_name.to_s.humanize
 %></h2>

# frozen_string_literal: true
form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put })
 do |f| %>
# frozen_string_literal: true
render 'devise/shared/error_messages', resource: resource
 %>

  <div class="field">
# frozen_string_literal: true
f.label :email
 %><br>
# frozen_string_literal: true
f.email_field :email, autofocus: true, autocomplete: 'email'
 %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
# frozen_string_literal: true
resource.unconfirmed_email
 %></div>
  <% end %>

  <div class="field">
# frozen_string_literal: true
f.label :password
 %> <i>(leave blank if you don't want to change it)</i><br>
# frozen_string_literal: true
f.password_field :password, autocomplete: 'new-password'
 %>
    <% if @minimum_password_length %>
      <br>
# frozen_string_literal: true
@minimum_password_length
 %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
# frozen_string_literal: true
f.label :password_confirmation
 %><br>
# frozen_string_literal: true
f.password_field :password_confirmation, autocomplete: 'new-password'
 %>
  </div>

  <div class="field">
# frozen_string_literal: true
f.label :current_password
 %> <i>(we need your current password to confirm your changes)</i><br>
# frozen_string_literal: true
f.password_field :current_password, autocomplete: 'current-password'
 %>
  </div>

  <div class="actions">
# frozen_string_literal: true
f.submit 'Update'
 %>
  </div>
<% end %>

<h3>Cancel my account</h3>

# frozen_string_literal: true
button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete
 %></p>

# frozen_string_literal: true
link_to 'Back', :back
 %>
