<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Feature Toggles</h2>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        TEST CARD
      </div>
    </div>
  </div>