
fieldset {
    border: 1px double #CCC;
}

.slide-container {
    padding: 0rem 1rem;
}

legend {
    font-size: small;
}

.slider {
    display: inline;
}

.slider-row {
    margin: 0px;
}

.dataTables_scrollHeadInner {
  width: 100% !important;
}

.followup-button {
  min-width: max-content;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.field-card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.08);
}

.pr-6 {
    padding-right: 1.5rem !important;
}

.red-letter {
    color: #d50100;
    font-weight: 900;
    display: inline;
}

.label-font-weight {
    font-weight: 900;
}

.inline-fields {
    display: inline-block;
}

.cc-field {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.expense-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: flex-end;
}

.expense-container {
    & > *:last-child {
        width: 80%;
    };
    .field_with_errors {
        input {
            width: 100%;
        }
    }
 }
 
.other-expenses li {
    margin-bottom: .2rem;
}

.other-expense-amount {
    width: 20%;
    margin-left: .4rem
}

.add-expense-link {
    margin-top: -.5rem;
    margin-bottom: .5rem;
    display: block;
    padding-left: .8rem;
    text-decoration: underline;
}

#add-another-expense {
    cursor: pointer;
}

.pr-7 {
    padding-right: 1.5rem !important;
    padding-left: 2.5rem !important;
}

.pr-9 {
    padding-left: 3.1rem !important;
}

.wide_button {
    width: 100%;
    height: 3rem;
    font-weight: 900;
}

.cc-italic {
    font-style: italic;
}
