@use "../base/breakpoints.scss" as screen-sizes;

#case-contact-form {
  & #contact-form-types {
    --group-width: 250px;

    columns: var(--group-width);

    & fieldset {
      display: inline-block;
      width: var(--group-width);
      padding: .25rem;

      & legend {
        color: var(--inactive);
      }

      & .form-check {
        padding-left: .25rem;

        & input {
          float: none;
        }

        & label {
          display: inline;
        }
      }
    }
  }

  & .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & h2 {
    font-size: 28px;
  }

  & h3 {
    font-size: medium;
  }

  & legend {
    font-size: medium;
  }

  & #contact-form-action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    @media only screen and (max-width: screen-sizes.$mobile) {
      & > a, & > button {
        flex-grow: 1;
      }
    }
  }
}
