@use "../base/breakpoints.scss" as screen-sizes;

.case-contacts-form {
  &-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    @media only screen and (max-width: screen-sizes.$mobile) {
      & > a, & > button {
        flex-grow: 1;
      }
    }
  }

  &-checkbox {
    border-color: #757575;
}

  &.desktop-title {
    display: none;

    @media only screen and (min-width: screen-sizes.$mobile) {
      display: block;
    }
  }

  &.mobile-title {
    display: block;

    @media only screen and (min-width: screen-sizes.$mobile) {
      display: none;
    }
  }
}