body.devise-sessions-new {
  .container {
    max-width: none;
  }

  aside {
    background-position: right;
    background-image: url('https://via.placeholder.com/700');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
