body.devise-sessions-new {
  .container {
    max-width: none;
  }

  aside {
    background-position: right;
    background-image: asset-url('login.jpg');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
