@use "../base/variables.scss" as globals;

.password-box {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  border-radius: 25px;
  border: 2px solid globals.$primary;

  form#edit_user.edit_user div.field {
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
    flex: none;
  }

  input#user_password {
    margin: 10px 0 10px;
    width: 100%;
  }

  input#user_password_confirmation {
    margin: 10px 0 10px;
    width: 100%;
  }

  form#edit_user.edit_user div.actions input {
    color: #fff;
    background-color: #002f56;
    border-color: #002849;
    margin: 10px;
  }
}

body.devise-invitations.devise-invitations-edit footer {
  width: 100%;
}

body.devise-passwords.devise-passwords-edit div.password-box {
  div.row {
    margin: 0 0;

    div.col-sm-6 {
      flex: none;
      margin: 0 auto;
      max-width: 90%;
      padding: 0;
    }
  }

  a.btn.btn-info {
    margin-bottom: 10px;
  }
}
