#patch-notes {
  display: flex;

  #patch-note-list {
    width: 50%;

    h1 {
      text-align: center
    }

    .patch-note-list-item {
      textarea {
        width: 100%;
      }

      .label-and-select {
        display: flex;

        label {
          padding-right: 0.5rem;
        }

        select {
         flex-grow: 1
        }
      }

      button {
        width: 100%;
      }
    };
  };
}
