@use "../base/breakpoints.scss" as screen-sizes;

body.volunteers {
  @media only screen and (max-width: screen-sizes.$mobile) {
    table#volunteers {
      tbody tr {
        padding-bottom: 2.5rem;
        border-bottom: none;

        td {
          border-left: none;
          border-right: none;
        }
        td:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
