@use "../base/breakpoints.scss" as screen-sizes;

body.volunteers {
  @media only screen and (max-width: screen-sizes.$mobile) {
    table#volunteers {
      tbody tr {
        padding-bottom: 2.5rem;
        border-bottom: none;

        td {
          border-left: none;
          border-right: none;
        }
        td:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
table#volunteers.dataTable.hover tbody tr.selected > * {
  background-color: rgba(54, 92, 245, 0.1);
  box-shadow: none; 
  color: inherit;
}
table#volunteers.dataTable.hover > tbody > tr.selected:hover > * {
  background-color: rgba(54, 92, 245, 0.15);
  box-shadow: none !important; 
  color: inherit;
}

.form-check-input {
  background-color: #757575;
}

