<header>
  <nav class="navbar navbar-expand-lg bg-primary justify-content-between">
    <div class="navbar-brand py-0">
      <%#= image_pack_tag(current_organization.logo_url,
        alt: current_organization.logo_alt_text || "CASA Logo",
        size: current_organization.logo_size,
        class: "d-inline-block align-text-bottom") if current_organization.logo_url %>
      <strong><%= page_header %></strong>
    </div>
    <div class="navbar-nav">
      <%= session_link %>
    </div>
  </nav>
</header>
