<div class="dropdown <%= @class %>">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <% if icon? %>
      <%= render_icon %>
    <% end %>
    <%= button_label %>
  </button>
  <ul class="dropdown-menu">
    <%= content %>
  </ul>
</div>
