<div class="truncation-container" data-controller="truncated-text">
  <div class="line-clamp-1" data-truncated-text-target="text">
    <% if label %>
      <span class="font-bold"><%= label %>:</span>
    <% end %>
    <%= text %>
  </div>
  <a
    role="button"
    href="#"
    data-truncated-text-target="hideButton"
    data-action="truncated-text#toggle:prevent"
    class="hidden">[hide]</a>
  <a
    role="button"
    href="#"
    data-truncated-text-target="moreButton"
    data-action="truncated-text#toggle:prevent">[read more]</a>
</div>
