<div class="truncation-container" data-controller="truncated-text">
  <span class="line-clamp-1" data-truncated-text-target="text"><%= text_content %></span>
  <a
    role="button"
    href="#"
    data-truncated-text-target="hideButton"
    data-action="truncated-text#toggle:prevent"
    class="d-none">[hide]</a>
  <a
    role="button"
    href="#"
    data-truncated-text-target="moreButton"
    data-action="truncated-text#toggle:prevent">[read more]</a>
</div>
