<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Editing Court Date</h2>
      </div>
    </div>
  </div>
</div>

<%= render 'form', casa_case: @casa_case, court_date: @court_date %>
