<li class="<%= @class %>" data-sidebar-group-target="link">
  <%= link_to @path do %>
    <% if @icon %>
      <i class="lni mr-10 lni-<%= @icon %>"></i>
    <% end %>
    <span data-sidebar-target="linkTitle" class="sidebar-link"><%= @title %></span>
  <% end %>
</li>