$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// colors
$primary: #00447c;
$secondary: #0068c9;
$background: #edfafc;
$white: #fff;
$red: #dc3545;
$orange: #e95a50;

$white-border: 2px solid $white;
$blue-border: 2px solid $primary;
