<div class="col-md-6">
  <div class="title mb-30 mt-30">
    <h2>New CASA Admin for <%= selected_organization.name %></h2>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <%= render "form", casa_org: selected_organization, casa_admin: @casa_admin %>
  </div>
</div>
