<%= link_to t("button.back"), all_casa_admins_casa_org_path(selected_organization) %>
<h1>New CASA Admin for <%= selected_organization.name %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= render "form", casa_org: selected_organization, casa_admin: @casa_admin %>
  </div>
</div>
