<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Notifications</h1>
  </div>
</div>

<div class="list-group">
  <% notifications_after_and_including_deploy(@notifications).each do | notification | %>
    <%= render partial: "notification", locals: {notification: notification} %>
  <% end %>
  <% notifications_before_deploy(@notifications).each do | notification | %>
    <%= render partial: "notification", locals: {notification: notification} %>
  <% end %>

  <% if @notifications.empty? %>
    <div class="card card-container my-4 border-warning">
      <div class="card-body">
        You currently don't have any notifications. Notifications are generated when someone requests follow-up on a case contact.
      </div>
    </div>
  <% end %>
</div>

<% @notifications.each do |notification| %>
  <% if ["YouthBirthdayNotification", "EmancipationChecklistReminderNotification"].include? notification.type %>
    <% notification.mark_as_read! %>
  <% end %>
<% end %>
