<div class="title-wrapper pt-30">
  <div class="row">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Notifications</h1>
      </div>
    </div>
  </div>
</div>
<div class="list-group">
  <% notifications_after_and_including_deploy(@notifications).each do | notification | %>
    <%= render NotificationComponent.new(notification: notification.to_notification) %>
  <% end %>
  <% unless (@deploy_time.nil? or @patch_notes.empty?) %>
    <%= render partial: "patch_notes", locals: {deploy_time: @deploy_time, patch_notes: patch_notes_as_hash_keyed_by_type_name(@patch_notes)} %>
  <% end %>
  <% notifications_before_deploy(@notifications).each do | notification | %>
    <%= render NotificationComponent.new(notification: notification.to_notification) %>
  <% end %>

  <% if @notifications.empty? and (@patch_notes.empty? or @deploy_time.nil?) %>
    <div class="card-style my-4">
      <div class="card-body">
        You currently don't have any notifications. Notifications are generated when someone requests follow-up on a case contact.
      </div>
    </div>
  <% end %>
</div>

<% @notifications.each do |notification| %>
  <% if read_when_seen_notifications.include? notification.type %>
    <% notification.mark_as_read! %>
  <% end %>
<% end %>
