<p style="color: green"><%= notice %></p>

<h1>Patch notes</h1>

<div id="patch_notes">
  <% @patch_notes.each do |patch_note| %>
    <%= render "all_casa_admins/patch_notes/patch_note", patch_note: patch_note %>
    <p>
    </p>
  <% end %>
</div>
