.dashboard-table-header {
  h1,h2,h3,h4,h5,h6 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  a.btn {
    display: inline-block;
  }
}

.dropdown-menu {
  li {
    input[type="checkbox"] {
      transform: scale(1.5);
      margin: 0 8px;
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  padding: 8px;
}

.language-icon {
  cursor: context-menu;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
