@use "../base/breakpoints.scss" as screen-sizes;

.header {
  .header-left {
    .menu-toggle-btn {
      display: none;

      .main-btn {
        border-radius: 4px !important;
      }
    }
  }
}

@media only screen and (max-width: screen-sizes.$mobile) {
  .header {
    .header-left {
      .menu-toggle-btn {
        display: block;
      }
    }
  }
}
