.navbar {
  color: white;

  .navbar-nav {
    @media (max-width: 1000px) {
      flex-direction: row;
    }

    .dropdown-menu {
      position: absolute;
    }
  }

  .navbar-brand a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
  strong {
    font-size: 2rem;

    @media (max-width: 1000px) {
      font-size: 1.4rem;
    }
  }

  a.btn {
    white-space: pre;
  }
}
