@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

#notifications {
  align-items: end;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  max-height: 100vh;
  max-width: 40%;
  overflow-y: auto;
  position: fixed;
  right: 2em;
  z-index: 100;

  div {
    border-radius: .25em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: 0;
    padding: .5em;

    span {
      display: inline
    }
  }

  .danger-notification {
    background-color: #b71c1c;
    color: white
  }

  .messages {
    margin-bottom: 0;
    padding: 0;

    div {
      display: flex;
      width: fit-content;
    }
  }

  .success-notification {
    background-color: #28a745;
    color: white
  }

  .warning-notification {
    background-color: #ffc107;
  }

  #async-waiting-indicator {
    background-color: #007bff;
    color: white;

    .load-spinner {
      animation: spin 1.5s linear infinite;
      border: .25em solid #f3f3f3;
      border-top: .25em solid #3498db;
      border-radius: 50%;
      display: inline-block;
      height: 1em;
      margin: 0;
      padding: 0;
      width: 1em
    }
  }

  #toggle-minimize-notifications {
    background-color: #333;
    border: 0;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 0.25em 1em;
    width: fit-content;

    span {
      display: inline;
    }
  }
}
