@use "../base/variables.scss" as globals;
@use "../base/breakpoints.scss" as screen-sizes;

#wrapper {
    overflow-x: hidden;
 }

.sidebar-wrapper {
  background: rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  position: fixed;
  width: 320px;
  overflow: auto;
}

.sidebar-wrapper .sidebar-heading {
  position: sticky;
  top: 0;
  z-index: 10;
  background: globals.$primary;
  border-bottom: 1px solid #103862;
  font-size: 1.2rem;
  padding-bottom: 16px;
  padding: 0.875rem 1.25rem;
}

.sidebar-wrapper .list-group {
  width: 100%;
  .list-group-item {
    background: none;
    color: #fff;
    padding: 1.25rem 1.75rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-container {
  background: globals.$primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-wrapper .sidebar-menu {
  margin-top: 24px;
  .list-group-item {
    border: none;
    border-left: 6px solid transparent;
    padding: 1.25rem 1.75rem;
    a {
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      border-left: 6px solid #fff;
    }
    &.active {
      background: #103862;
      border-left: 6px solid #fff;
      font-weight: bold;
    }
  }
}

.sidebar-wrapper .sidebar-footer {
  .list-group.account-details {
    padding-bottom: 1rem;
    .list-group-item {
      border: none;
      padding: 1rem 2rem;
      > * {
        font-size: 0.9em;
      }
      .label {
        color: #729DCB;
        display: block;

      }
      .value, a {
        color: #fff;
      }
    }
  }

  .list-group.footer-nav {
    background: #103862;
    padding: 1rem 0 5rem;
    width: 100%;
    a.list-group-item {
      background: none !important;
      border: none;
      color: #fff;
      font-size: 0.9em;
      padding: 1rem 1.75rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Media Queries
@media only screen and (max-width: screen-sizes.$mobile) {
  .sidebar-wrapper {
    display: none;
    width: 100%;
    &.sidebar-open {
      display: inherit;
      z-index: 1;
    }
  }

  .sidebar-container {
    height: calc(100vh - 72px);
    width: 320px;
  }

  .sidebar-heading {
    display: none;
  }

  #wrapper.toggled .sidebar-wrapper {
    margin-left: -15rem;
  }

  .footer-nav #mobile-space {
    margin-top: 72px;
  }
}
