// TODO check in css so tests can run without internet
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Montserrat";
}

option {
  font-family: Helvetica, Arial, sans-serif;
}

.content-1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.content-2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.content-3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.pre-line {
  white-space: pre-line;
}
