$primary: #00447c;
$red: #dc3545;

// ======== Sidebar colors
$sidebar-inactive: #9AA4CA;
$sidebar-active: #365CF5;
$sidebar-dark: #1A2142;

:root {
  --dark: #262d3f; 
  --gray: #5d657b;
  --silver: #D9D9D9;
}
