<% if resource.errors.any? %>
  <div id="error_explanation">
# frozen_string_literal: true
resource.model_name.human
 %> from being saved:</h6>

    <ul>
# frozen_string_literal: true
resource.errors.full_messages.each
 do |message| %>
# frozen_string_literal: true
message
 %></li>
      <% end %>
    </ul>
  </div>
<% end %>
