<% if resource.errors.any? %>
  <div class="alert-box danger-alert">
    <div id="error_explanation" class="alert">
      <h6>
        <%= pluralize(resource.errors.messages.count, "error") %> prohibited this
        <%= @custom_error_header || resource.model_name.human %> from being saved:
      </h6>

      <ul>
        <% resource.errors.messages.each do |attr, error| %>
          <li> 
            <%= "#{attr.to_s.humanize} : #{error.first}" %> 
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
