<% if resource.errors.any? %>
  <% full_error_messages = resource.errors.full_messages %>
  <% if full_error_messages.join(' ').include? "Password" %>
    <% error_messages_heading = "prohibited this password change from being saved:" %>
  <% else %>
    <% error_messages_heading = "prohibited this #{resource.model_name.human} from being saved:" %>
  <% end %>
    <div id="error_explanation" class="alert alert-danger">
      <h6><%= pluralize(resource.errors.count, "error") %> <%= error_messages_heading %> </h6>
      <ul>
        <% full_error_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
