<meta itemprop="name" content="Confirm Email">
<table style="border-spacing: 0; box-sizing: border-box; font-family: Helvetica,Arial,sans-serif; margin: 0;">
  <tr style="box-sizing: border-box;">
    <td class="content-block" style="box-sizing: border-box; vertical-align: top; padding: 0 0 20px;">
      Hello <%= @user.display_name %>,
    </td>
  </tr>
  <tr style="box-sizing: border-box;">
    <td class="content-block" style="box-sizing: border-box; vertical-align: top; padding: 0 0 20px;">
      Your <%= @casa_organization.display_name %>’s Admin account has been deactivated.
    </td>
  </tr>
  <tr style="box-sizing: border-box;">
    <td class="content-block" style="box-sizing: border-box; vertical-align: top; padding: 0 0 20px;">
      If you have any questions, please contact a <%= @casa_organization.display_name %> administrator for assistance.
    </td>
  </tr>
</table>
