<h2>Log in</h2>

# frozen_string_literal: true
form_for(resource, as: resource_name, url: session_path(resource_name))
 do |f| %>
  <div class="field">
# frozen_string_literal: true
f.label :email
 %><br>
# frozen_string_literal: true
f.email_field :email, autofocus: true, autocomplete: 'email'
 %>
  </div>

  <div class="field">
# frozen_string_literal: true
f.label :password
 %><br>
# frozen_string_literal: true
f.password_field :password, autocomplete: 'current-password'
 %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
# frozen_string_literal: true
f.check_box :remember_me
 %>
# frozen_string_literal: true
f.label :remember_me
 %>
    </div>
  <% end %>

  <div class="actions">
# frozen_string_literal: true
f.submit 'Log in'
 %>
  </div>
<% end %>

# frozen_string_literal: true
render 'all_casa_admins/shared/links'
 %>
