<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Congratulations
      </div>
      <div class="modal-body">
        New entry created
        <p>
        <h6>Note</h6>
        <div id="note-content"></div>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-learning-hours-cancel">
          Go Back to Form
        </button>
        <%= form.submit "Continue Submitting", class: "btn btn-primary", id: "modal-learning-hours-submit" %>
      </div>
    </div>
  </div>
</div>
