<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Congratulations
      </div>
      <div class="modal-body">
        New entry created
        <p>
        <h6>Note</h6>
        <div id="note-content"></div>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-sm main-btn light-btn-outline btn-hover" data-dismiss="modal" id="modal-learning-hours-cancel">
          <i class="lni lni-arrow-left mr-10"></i>Go Back to Form
        </button>
        <%= button_tag(
          type: "submit",
          class: "main-btn primary-btn btn-hover btn-sm",
          id: "modal-learning-hours-submit"
        ) do %>
          <i class="lni lni-checkmark-circle mr-10"></i>Continue Submitting
        <% end %>
      </div>
    </div>
  </div>
</div>
