<h2>Change your password</h2>

# frozen_string_literal: true
form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put })
 do |f| %>
# frozen_string_literal: true
render 'all_casa_admins/shared/error_messages', resource: resource
 %>
# frozen_string_literal: true
f.hidden_field :reset_password_token
 %>

  <div class="field">
# frozen_string_literal: true
f.label :password, 'New password'
 %><br>
    <% if @minimum_password_length %>
# frozen_string_literal: true
@minimum_password_length
 %> characters minimum)</em><br>
    <% end %>
# frozen_string_literal: true
f.password_field :password, autofocus: true, autocomplete: 'new-password'
 %>
  </div>

  <div class="field">
# frozen_string_literal: true
f.label :password_confirmation, 'Confirm new password'
 %><br>
# frozen_string_literal: true
f.password_field :password_confirmation, autocomplete: 'new-password'
 %>
  </div>

  <div class="actions">
# frozen_string_literal: true
f.submit 'Change my password'
 %>
  </div>
<% end %>

# frozen_string_literal: true
render 'all_casa_admins/shared/links'
 %>
