  <div class="nested-fields">
      <%= f.number_field :other_expense_amount, class: "form-control", id: "other_expense_amount", min: "0", max: 1000, step: 0.01 %>
      <%= f.text_field :other_expenses_describe, class: "form-control", id: "other_expenses_describe" %>
  </div>