<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">
          <strong class="text-primary"><%= contact.decorate.contact_types %></strong>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= contact.decorate.subheading %>
        </h6>
      </div>
      <div>
        <% if Pundit.policy(current_user, contact).update? %>
          <% if contact.created_in_current_quarter? %>
            <%= link_to edit_case_contact_path(contact), class: 'btn btn-outline-primary' do %>
              <strong>Edit</strong>
            <% end %>
          <% else %>
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="This case contact was created in a previous quarter and is therefore no longer editable"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="card-text"><%= contact.decorate.notes %></p>
  </div>
</div>

<script type="text/javascript">
  function moreText (event) {
    event.preventDefault()
    const table_cell = event.target.closest('td')

    table_cell.querySelectorAll('.full-notes')[0].style.display = 'block'
    table_cell.querySelectorAll('.limited-notes')[0].style.display = 'none'
  }

  function lessText (event) {
    event.preventDefault()
    const table_cell = event.target.closest('td')

    table_cell.querySelectorAll('.full-notes')[0].style.display = 'none'
    table_cell.querySelectorAll('.limited-notes')[0].style.display = 'block'
  }
</script>
