<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Confirm Note Content</strong>
      </div>
      <div class="modal-body">
        Please double check your notes to ensure they don't contain any identifying details about your youth or anyone else.
        <p class="mt-3">
        <h6>Note</h6>
        <div id="note-content"></div>
        </p>
      </div>

      <div class="modal-footer">
        <!--Button To Go Back Does Not Work-->
        <button type="button" class="main-btn secondary-btn-outline btn-hover mr-10" data-dismiss="modal" id="modal-case-contact-cancel">
          Go Back to Form
        </button>
        <%= form.submit "Continue Submitting", class: "main-btn primary-btn btn-hover", id: "modal-case-contact-submit" %>
      </div>
    </div>
  </div>
</div>
