<% if followup %>
  <div>
    <%= button_to resolve_followup_path(followup), method: :patch, class: "main-btn btn-sm success-btn btn-hover" do %>
      <i class="bi bi-calendar"></i>Resolve Reminder
    <% end %>
  </div>
<% else %>
  <div>
    <button type="button"
            class="main-btn btn-sm primary-btn-outline btn-hover"
            id="followup-button-<%= contact.id %>"><i class="lni lni-calendar mr-5"></i>
      Make Reminder
    </button>
  </div>
<% end %>
