<%= link_to "Back", render_back_link(@case_contact.casa_case) %>
<h1>Editing Case Contact</h1>

<div class="card card-container">
  <div class="card-body">
    <%= render 'form', case_contact: @case_contact, casa_cases: @casa_cases %>
  </div>
</div>
