# frozen_string_literal: true
link_to 'Back', :back
 %>
<h1>Case Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Creator</th>
      <th>CASA Case</th>
      <th>Contact type</th>
      <th>Duration</th>
      <th>Occurred at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
# frozen_string_literal: true
@case_contacts.each
 do |case_contact| %>
      <tr>
# frozen_string_literal: true
case_contact.creator_id
 %></td>
# frozen_string_literal: true
case_contact.casa_case_id
 %></td>
# frozen_string_literal: true
case_contact.contact_types
 %></td>
# frozen_string_literal: true
case_contact.duration_minutes
 %></td>
# frozen_string_literal: true
case_contact.occurred_at.strftime('%B %e, %Y')
 %></td>
# frozen_string_literal: true
link_to 'Edit', edit_case_contact_path(case_contact)
 %></td>
# frozen_string_literal: true
link_to 'Destroy', case_contact, method: :delete, data: { confirm: 'Are you sure?' }
 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

# frozen_string_literal: true
link_to 'New CASA Contact', new_case_contact_path
 %>
