<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Case Contacts</h1>
    <%= link_to t("page.casa_case.new.title"), new_case_contact_path, class: "btn btn-primary" %>
  </div>
</div>


<% @presenter.case_contacts.each do |casa_case_id, data| %>
  <div class="card card-container">
    <div class="card-body">
      <h3><%= @presenter.display_case_number(casa_case_id) %></h3>
      <%= render partial: "case_contacts/case_contact", collection: data, as: :contact %>
    </div>
  </div>
<% end %>
