<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= t(".title") %></h1>
    <%= link_to t(".new"), new_case_contact_path, class: "btn btn-primary" %>
  </div>
</div>

<% @casa_cases.each do |casa_case| %>
  <div class="card card-container">
    <div class="card-body">
      <h3><%= "#{casa_case.decorate.transition_aged_youth_icon} #{casa_case.case_number}" %></h3>
      <% casa_case.decorate.case_contacts_ordered_by_occurred_at.grab_all(current_user).each do |contact| %>
        <%= render "case_contacts/case_contact", contact: contact %>
      <% end %>
    </div>
  </div>
<% end %>
