<h1 class="text-center">New Case Contact</h1>

<br>

<div class="row">
  <div class="col-sm-12">
    <%= render 'form', case_contact: @case_contact %>
  </div>
</div>

<br>

<%= link_to 'Back', :back %>
