<h1 class="section-header__title">New Case Contact</h1>
<br>
<div class="row">
  <div class="col-sm-12">
    <%= render 'form', case_contact: @case_contact, casa_cases: @casa_cases %>
  </div>
</div>
<br>
<div class="row">
  <%= link_to 'Back', :back %>
</div>
