<%= link_to t("button.back"), case_contacts_path %>

<h1><%= t(".title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= render 'form', case_contact: @case_contact, casa_cases: @casa_cases %>
  </div>
</div>
