<div class="title-wrapper pt-30">
  <div class="title mb-30">
    <h1> Record new case contact </h1>
  </div>
</div>
<div>
  <%= render 'form', case_contact: @case_contact, casa_cases: @casa_cases, form_type: 'new' %>
</div>
