<div id="container" align="center">
  <div class="errorContentWrap">
    <h1>500 Error</h1>
    <p>We're sorry! The server encountered an internal error and was unable to complete your request.</p>
  </div>
</div>
