<footer class="logged-in">
  <span class="copyright pull-left">© <%= default_page_header %></span>
  <span class="default-footer pull-right">
    <span class="col-12 col-sm-2">
      Built by <a href="https://rubyforgood.org/">Ruby For Good</a>
    </span>
    <span class="col-12 col-sm-2">
      <%= link_to "Report a site issue", "https://docs.google.com/forms/d/e/1FAIpQLSfM6dA5KkCuzIcdikete7C3wusoQ8p-EAyGyb38DFBlxzZjrg/viewform" %>
    </span>
    <span class="col-12 col-sm-2">
      <%= link_to "SMS Terms & Conditions", "/sms-terms-conditions.html" %>
    </span>
  </span>
</footer>
