<p>Choose from the available options below by searching or selecting from the dropdown menu.</p>
<%= render(Form::MultipleSelectComponent.new(
  form: form,
  name: :contact_type_ids,
  options: options,
  selected_items: selected_items,
  render_option_subtext: true
)) %>
