<div id="contact-type-form" class="d-flex flex-column gap-4">
  <h4 id="contact-type-label"><label>2. Select All Contact Types</label><span class="red-letter"> *</span></h4>
  <p>Choose from the available options below by searching or selecting from the dropdown menu.</p>
  <% last_case = @casa_case || @casa_cases.sort_by(&:created_at).last %>
  <% selection_options = contact_type_groups.flat_map do |group| %>
    <% group.contact_types.pluck(:id, :name).map do |id, name| %>
      <% {
        value: id,
        label: name,
        group: group.name,
        inline_option: time_ago_of_last_contact_made_of(name, last_case)
        } %>
    <% end %>
  <% end %>
  <div class="select-style-1 mr-8"
    data-controller="multiple-select"
    data-multiple-select-options-value="<%= selection_options.to_json %>"
    data-multiple-select-option-groups-value="<%= contact_type_groups.pluck(:name).map {|name| { value: name, label: name }}.to_json %>"
    data-multiple-select-label-field-value="label"
    data-multiple-select-optgroup-field-value="group"
    data-multiple-select-default-selected-value="<%= @casa_case&.contact_types&.pluck(:id) || @case_contact.contact_types.pluck(:id) %>">
    <select
      class="form-control-lg form-select form-select-lg input-group-lg"
      data-multiple-select-target="select"
      multiple="multiple"
      name="case_contact[case_contact_contact_type_attributes][][contact_type_id]"
      id="case_contact_casa_case_ids"
      placeholder="Select or search for contacts"></select>
  </div>
</div>
