<%= form_for(@case_contact, url: wizard_path, method: :put, local: true, id: "casa-contact-form") do |form| %>
  <%= render "/shared/error_messages", resource: case_contact %>

  <div class="card-style-1 pl-25 mb-10">
    <%= render "contact_types",
        form: form,
        model: @case_contact,
        contact_type_groups: @current_organization_groups,
        selected_case_contact_types: @selected_case_contact_types,
        checkbox_tag_name: "case_contact[case_contact_contact_type_attributes][][contact_type_id]" %>
  </div>

  <div class="actions mb-10">
    <%= button_tag( type: "submit" , class: "btn-sm main-btn primary-btn btn-hover" ) do %>
      <i class="lni lni-checkmark-circle mr-5"></i> Submit
    <% end %>
  </div>
<% end %>
