<div id="health">
  <canvas id="caseContactCreationTimeBubbleChart"></canvas>
  <canvas id="monthLineChart" class="mt-5"></canvas>
  <canvas id="uniqueUsersMonthLineChart" class="mt-5"></canvas>
</div>
