<% court_dates = casa_case.court_dates.includes(:hearing_type).ordered_ascending.load %>
  <% future = [] %>
  <% past = [] %>

<% court_dates.each do |date| %>
  <% diff = Date.current.to_time - date.date.to_time %>
  <% diff > 0 ?  past.push(diff) : future.push(diff)%>
<% end %>


<% if future.length > 0 && past.length == 0 %>
  <div id="banner-prompt-update-user" class="collapse alert alert-warning">
    please enter the previous court date if you know it so that court reports can be generated with the correct case contacts
  </div>
<% elsif future.length == 0 && past.length > 0 %>
  <div id="banner-prompt-update-user" class="collapse alert alert-warning">
    please enter the next court date if you know it so that court reports can be generated with the correct case contacts
  </div>
<% end %>
