<!-- Button code -->
<div title="Add to Calendar" class="addeventatc">
    Add Court Date to Calendar
    <span class="start"><%= date %></span>
    <span class="all_day_event">true</span>
    <span class="title"><%= title %></span>
</div>
