<% court_dates = casa_case.court_dates.includes(:hearing_type).ordered_ascending.load %>
<label>Court dates:</label>
<% if court_dates.empty? %>
  No Court Dates
<% else %>
  <ul>
    <% court_dates.each do |pcd| %>
      <p>
        <%= link_to(pcd.decorate.court_date_info, casa_case_court_date_path(casa_case, pcd)) %>
        <% if report = pcd.latest_associated_report %>
          <%= link_to(rails_blob_path(report, disposition: 'attachment')) do %>
            (Attached Report)
          <% end %>
        <% end %>
      </p>
    <% end %>
  </ul>
<% end %>
<ul>
  <div class="add-container past-court-dates my-3">
    <a class="main-btn primary-btn btn-hover btn-sm" href="<%= new_casa_case_court_date_path(casa_case) %>">
      <i class="lni lni-plus" aria-hidden="true"></i> Add a court date
    </a>
  </div>
</ul>
