<div class="row casa-case-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2">Filter by:</h4>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Status
      </button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Active" checked>
            Active</a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Inactive">
            Inactive</a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned to Volunteer
      </button>
      <div class="dropdown-menu assigned-to-volunteer-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes" checked>Yes</a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No" checked>No</a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned to more than 1 Volunteer
      </button>
      <div class="dropdown-menu more-than-one-volunteer-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes" checked>Yes</a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No" checked>No</a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned to Transition Aged Youth
      </button>
      <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes ðŸ¦‹" checked>Yes</a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No ðŸ›" checked>No</a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <% unless current_user.volunteer? %>
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Casa Case Prefix
        </button>
      <% end %>
      <div class="dropdown-menu case-number-prefix-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="CINA" checked>CINA</a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="TPR" checked>TPR</a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="" checked>none</a>
        </li>
      </div>
    </div>
  </div>
</div>
