<div class="row">
  <div class="col-sm-12 dashboard-table-header">
      <h1>Other Duties</h1>
  </div>
</div>
<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Duties Occurred</th>
        <th>Created</th>
        <th>Duration</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      <% @duties.decorate.each do |duty| %>
          <td><%= I18n.l(duty.occurred_at, format: :full, default: nil) %></td>
          <td><%= I18n.l(duty.created_at, format: :full, default: nil) %></td>
          <td><%= duty.duration_in_minutes %></td>
          <td><%= duty.truncate_notes %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
