<% current_placement = casa_case.placements.order(placement_started_at: :desc).first %>

<h6>
  <strong>Current Placement:</strong>

  <% if current_placement %>
    <%= current_placement.placement_type.name %>
    <p>Placed since: <%= current_placement.decorate.formatted_date %></p>
  <% else %>
    Unknown
  <% end %>

  <p><%= link_to "See All Placements", casa_case_placements_path(casa_case), class: 'text-primary hover-underline' %></p>
</h6>
