<div id="thank-you-modal-wrapper">
  <div class="modal fade" id="thank_you" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <%= "Case contact was successfully created. #{thank_you_message}" %>
        </div>
        <div id="prompt-update-user" class="modal-body">
            <% past, future = when_do_we_have_court_dates(@casa_case) %>
            <% if future.length > 0 && past.length == 0 %>
                Please enter the previous court date if you know it so that court reports can be generated with the correct case contacts.
            <% elsif future.length == 0 && past.length > 0 %>
                Please enter the next court date if you know it so that court reports can be generated with the correct case contacts.
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
