<div class="modal" id="thank-you-modal-wrapper">
  <div class="modal fade" id="thank_you" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <%= "Case contact was successfully created. #{thank_you_message}" %>
        </div>
        <% when_do_we_have_court_dates = when_do_we_have_court_dates(@casa_case) %>
        <% if when_do_we_have_court_dates == "future" %>
          <div id="prompt-update-user" class="modal-body">
            Please enter the previous court date if you know it so that court reports can be generated with the correct case contacts.
          </div>
        <% elsif when_do_we_have_court_dates == "past" %>
          <div id="prompt-update-user" class="modal-body">
            Please enter the next court date if you know it so that court reports can be generated with the correct case contacts.
          </div>
        <% elsif when_do_we_have_court_dates == "none" %>
          <div id="prompt-update-user" class="modal-body">
            Please enter any past or future court dates if you know them so that court reports can be generated with the correct case contacts.
          </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="main-btn secondary-btn btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
