<%= link_to "Back", casa_cases_path %>
<h1>Editing CASA Case</h1>

<%= render 'form', casa_case: @casa_case %>

<% if Pundit.policy(current_user, @casa_case).assign_volunteers? %>
  <%= render "volunteer_assignment" %>
<% end %>
