# frozen_string_literal: true
link_to 'Back', root_path
 %>

<h1>Editing CASA Case</h1>

<br>

<div class="row">
  <div class="col-sm-6">
# frozen_string_literal: true
form_with(model: @casa_case, local: true)
 do |form| %>
# frozen_string_literal: true
render '/shared/error_messages', resource: @casa_case
 %>

      <div class="field form-group">
        <% if Pundit.policy(current_user, @casa_case).update_case_number? %>
# frozen_string_literal: true
form.label :case_number
 %>
# frozen_string_literal: true
form.text_field :case_number, class: 'form-control'
 %>
        <% else %>
# frozen_string_literal: true
@casa_case.case_number
 %></label>
        <% end %>
      </div>

      <div class="field">
# frozen_string_literal: true
form.label :transition_aged_youth
 %>
# frozen_string_literal: true
form.check_box :transition_aged_youth
 %>
      </div>

      <br>

      <div class="actions">
# frozen_string_literal: true
form.submit 'Submit', class: 'btn btn-primary'
 %>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if Pundit.policy(current_user, @casa_case).assign_volunteers? %>
# frozen_string_literal: true
render 'volunteer_assignment'
 %>
<% end %>
