# frozen_string_literal: true
link_to 'Back', :back
 %>

<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>CASA Cases</h1>
    <%- if policy(:casa_case).new? %>
# frozen_string_literal: true
link_to 'New CASA Case', new_casa_case_path, class: 'btn btn-primary'
 %>
    <%- end %>
  </div>
</div>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Case number</th>
      <th>Transition Aged Youth</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
# frozen_string_literal: true
@casa_cases.each
 do |casa_case| %>
      <tr>
# frozen_string_literal: true
casa_case.case_number
 %></td>
# frozen_string_literal: true
casa_case.decorate.transition_aged_youth_icon
 %></td>
# frozen_string_literal: true
link_to 'Show', casa_case
 %></td>
# frozen_string_literal: true
link_to 'Edit', edit_casa_case_path(casa_case)
 %></td>
# frozen_string_literal: true
link_to 'Destroy', casa_case, method: :delete, data: { confirm: 'Are you sure?' }
 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
