<div class="row">
  <div class="col-sm-12">
    <div class="section-header">
        <h1 class="section-header__title">All CASA Admin</h1>
        <div>
          <a class="btn btn-primary" href="<%= new_all_casa_admins_casa_org_path %>" >New CASA Organization</a>
        </div>
    </div>
  </div>
</div>
<h2>CASA Organizations</h2>
<table class="table organization-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, all_casa_admins_casa_org_path(organization) %></td>
        <td><%= organization.created_at.strftime('%B %e, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
