<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <h3 class="mb-10">Languages</h3>
      <p class="text-sm mb-20">
        A list of languages volunteers can choose from to add to their profile to let supervisors and admins know they can speak the language.
      </p>
      <%= link_to new_language_path, class: "btn-sm main-btn primary-btn btn-hover" do %>
        <i class="lni lni-plus mr-10"></i>
        New Language
      <% end %>
      <!-- end table title -->
      <div class="table-wrapper table-responsive">
        <table class="table striped-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            <!-- end table row-->
          </thead>
          <tbody>
            <tr>
              <td class="min-width">English (default language)</td>
              <td></td>
            </tr>
            <% languages.each do |lang| %>
              <tr id="language-<%= lang.id %>">
                <td class="min-width">
                  <%= lang.name %>
                </td>
                <td>
                  <%= link_to edit_language_path(lang) do %>
                    <div class="action">
                      <button class="text-danger">
                        <i class="lni lni-pencil-alt"></i> Edit
                      </button>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
