<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3>Languages</h3>
    <div>
      A list of languages volunteers can choose from to add to their profile to let supervisors and admins know they can speak the language.
    </div>
    <%= link_to "New Language", new_language_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td>English (default language)</td>
    </tr>
  <% languages.each do |lang| %>
    <tr id="language-<%= lang.id %>">
      <td>
        <%= lang.name %>
      </td>
      <td>
        <%= link_to "Edit", edit_language_path(lang) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
