// links to stylesheets inside node_modules
@use "add2calendar/css/add2calendar";
@use "bootstrap/scss/bootstrap.scss" with (
  $primary: #00447c
);
@use "bootstrap-datepicker/dist/css/bootstrap-datepicker";
@use "datatables.net-dt/css/jquery.dataTables";
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "select2/dist/css/select2";

// custom css for the app
@use "base/breakpoints";

@use "shared/dashboard";
@use "shared/flashes";
@use "shared/footer";
@use "shared/form";
@use "shared/layout";
@use "shared/navbar";
@use "shared/select2_additional_styles";
@use "shared/sidebar";
@use "shared/typography";
@use "shared/utilities";
@use "shared/noscript";

@use "pages/all_casa_admin_dashboard";
@use "pages/casa_cases";
@use "pages/case_contacts";
@use "pages/casa_org";
@use "pages/court_dates";
@use "pages/emancipation";
@use "pages/login";
@use "pages/password";
@use "pages/supervisors.scss";
@use "pages/volunteers";
