body.dashboard {
  .dashboard-table-header {
    h1 {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
    }
  }

  .cases {
    background: lightgrey;
    padding: 10px;
  }

  .case-list {
    margin-top: 20px;
  }

  .dropdown {
    margin-left: 8px;
  }

  .button {
    border: 1px black solid;
    padding: 10px;
    background-color: #00447C;
  }

  .button > a {
    color: white;
    &:visited {
      color: white;
    }
  }
}
