.cases {
  background: lightgrey;
  padding: 10px;
}

.case-list {
  margin-top: 20px;
}

.dropdown {
  margin-left: 8px;
}

.button {
  border: 1px black solid;
  padding: 10px;
  background-color: #00447C;
}

.button > a {
  color: white;
  &:visited {
    color: white;
  }
}

.case-contacts-table {
  border-collapse: collapse;
  tr td {
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }
}
