.navbar {
  color: white;

  .nav-brand a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
  strong {
    font-size: 2rem;
  }

  a.btn {
    white-space: pre;
  }
}

.notice {
  text-align: center;
  padding: 8px;
  margin: 12px 0;
  background-color: rgba(238, 49, 36, 0.5);
}
