<p>Click here to confirm your email.</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>If you weren't expecting this email, please disregard.</p>
