<% if @resource.try(:unconfirmed_email?) %>
  <p>Your CASA account's email has been updated to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Your CASA account's email has been updated to <%= @resource.email %>.</p>
<% end %>
