<!DOCTYPE html>
<html>
<body style="margin: 0 !important; padding: 0 !important; background-color: #edefed">

<!-- HEADER -->
<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
  <tr>
    <td bgcolor="#edefed" align="center">
      <h1 style="font-size: 36px; font-family: Helvetica, Arial, sans-serif;">CASA Password Reset</h1>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 30px 10px 30px 10px; border-radius: 7px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 530px;">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 0px;" class="padding">
                        <p>If you've lost your password or wish to reset it, click the button below. If you didn’t request this, you can safely ignore this email.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="padding-top: 15px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" bgcolor="#00447C"><a href="<%= "#{edit_password_url(@resource, reset_password_token: @token)}" %>" target="_blank" style="font-size: 20px;font-family: Helvetica, Arial, sans-serif;color: #ffffff;text-decoration: none; text-decoration: none;padding:15px 20px;display: inline-block;">Reset your password</a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
