<div class="card-style">
  <div class="table-responsive">
    <table
      class="table"
      data-source="<%= @datatable_url %>"
      id="reimbursements-datatable"
    >
      <thead>
        <tr>
          <th>Volunteer</th>
          <th>Case Number</th>
          <th>Contact Types</th>
          <th>Occurred At</th>
          <th>Miles Driven</th>
          <th>Address</th>
          <th>Reimbursement Complete</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
