<div>
  <%= label %>
  <%= date_field(
    nil,
    name,
    data: {
      date_end_date: Time.now,
      date_start_date: @occurred_at_filter_start_date
    },
    class: "form-control"
  ) %>
</div>
