<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="<%= @casa_cases_filter_id %>">
      <thead>
      <tr>

      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
