<%= link_to "Back", :back %>

<div class="row">
  <div class="col-sm-12">
    <h1>Report Categories</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>All Case Contacts Report</strong></h5>
        <p class="card-text">
          This CSV is a listing of all fields of all existing case contacts including:
        </p>
        <ul>
          <li>ID</li>
          <li>Case Number</li>
          <li>Duration</li>
          <li>Occurred At</li>
          <li>Creator Email</li>
          <li>Creator Name</li>
          <li>Create Supervisor</li>
          <li>Contact Type</li>
        </ul>
        <%= link_to "Download Report", report_path(id: Time.zone.now.to_i, format: :csv), class: "btn btn-primary" %>
      </div>
    </div>

  </div>
</div>
