# frozen_string_literal: true
link_to 'Back', :back
 %>

<div class="row">
  <div class="col-sm-12">
    <h1>Report Categories</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Case Contacts Report</strong></h5>
        <p class="card-text">
          This CSV is a listing of all fields for the case contacts of all volunteers. Select the start
          and end date.
        </p>

        <hr>

        <form>
          <div class="field form-group">
            <label><strong>Starting From:</strong></label>
# frozen_string_literal: true
1.month.ago.to_date
 %>">
          </div>

          <div class="field form-group">
            <label><strong>Ending At:</strong></label>
# frozen_string_literal: true
Date.today.to_date
 %>">
          </div>

          <!--
            It seems like the send_data method used to download the CSV here does not work
            with form submission whether the action is POST or GET, so for now we are
            constructing the URL using the inputs above with javascript.
          -->
# frozen_string_literal: true
link_to 'Download Report',
                      case_contact_reports_path(start_date: 1.month.ago.to_date, end_date: Date.today.to_date, format: :csv),
                      class: 'btn btn-primary',
                      data: { link_type: 'download-report' }
 %>
        </form>
      </div>
    </div>

  </div>
</div>
