name: standardrb lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruby_lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.1

    - name: install dependencies
      run: |
        bundle install

    - name: lint
      run: bundle exec standardrb
