name: Yaml Lint
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**/*.md'
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - main
    paths-ignore:
      - 'doc/**'
      - '**/*.md'
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
