name: yarn lint

on:
  push:
    branches:
      - main
    paths:
      - '**/*.js'
      - '**/*.json'
      - '**/*.jsx'
      - 'yarn.lock'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.js'
      - '**/*.json'
      - '**/*.jsx'
      - 'yarn.lock'

jobs:
  yarn_lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/fermium

      - run: yarn
      - run: yarn lint
      - run: yarn test
