body.casa_cases {
  .form-header {
    h1 {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
    }
  }

  .case-contact-list {
      margin-bottom: 20px;
  }

  .datetime-year-month select.date-input {
    width: 130px;
    padding-bottom: 15px;
  }
}
