body.casa_cases {
  .form-header {
    h1 {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
    }
  }

  .case-contact-list {
      margin-bottom: 20px;
  }

  .datetime-year-month select.date-input {
    width: 130px;
    padding-bottom: 15px;
  }

  .court-mandates {
    textarea {
      display: block;
      margin-bottom: 5px;
    }

    textarea, .add-court-mandate {
      width: 500px;
    }
  }

  .add-court-mandate-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  #add-mandate-button, .remove-mandate-button {
    color: white;
    border: none;

    font-size: 1.25em;

    :hover {
      cursor: pointer;
    }
  }

  #add-mandate-button {
    background-color: #{$primary};

    padding: 0.25em 1.5em;
    border-radius: 10px;
  }

  .remove-mandate-button {
    background-color: #{$red};

    border-radius: 100%;

    max-width: 30px;
    max-height: 30px;
  }

  .court-mandate-entry {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  select {
    padding: 5px;
  }
}

@media only screen and (max-width: 640px) {
  body.casa_cases {
    .court-mandates {
      textarea, .add-court-mandate {
        width: 100%;
      }
    }

    .court-mandate-entry {
      display: grid;
      grid-template-columns: minmax(100px, 100%) 1fr;
      gap: 2px;

      .implementation-status {
        grid-row: 2;
      }

      margin: 1em 1em 2em 1em;
    }
  }
}