
fieldset {
    border: 1px double #CCC;
}

.slide-container {
    padding: 0rem 1rem;
}

legend {
    font-size: small;
}

.slider {
    display: inline;
}

.range-value {
    justify-content: center;
}

.range-value input {
    width: 60%;
}

.slider-row {
    margin: 0px;
}

.dataTables_scrollHeadInner,
.case-contacts-table {
  width: 100% !important;
}
