body.court_dates {
  .court-mandates {
    textarea {
      display: block;
      margin-bottom: 5px;
    }

    textarea, .add-court-mandate {
      width: 500px;
    }
  }

  .court-mandate-entry {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  select {
    padding: 5px;
  }
}
