$indictator_negative_color: #f44336;
$indicator_positive_color: #4caf50;

.supervisor_case_contact_stats {
  display: flex;

  div {
    &:first-child {
      display: flex;
      margin-right: 1em;
      flex-grow: 1;
    }

    &:last-child {
      display: inline;
      font-size: smaller;
      margin: auto;
      background-color: #cfd8dc;
      border-radius: 100vw;
      padding: 0.2em 1em;
    }

    span {
      float: right;
      text-align: center;

      &:first-child {
        background: $indicator_positive_color;
        border-bottom-left-radius: 0.25em;
        border-top-left-radius: 0.25em;
      };

      &:last-child {
        background: $indictator_negative_color;
        border-bottom-right-radius: 0.25em;
        border-top-right-radius: 0.25em;
      }
    }
  }
}

.supervisor_indicator_legend {
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.25rem;

  span {
    font-size: smaller;
    padding: .25em;
    flex-grow: 1;
  }
}

.supervisor_table_row {
  display: flex;
}

.supervisor_table_row th:nth-of-type(1),
.supervisor_table_row td:nth-of-type(1) {
  flex: 3;
}

.supervisor_table_row th:nth-of-type(2),
.supervisor_table_row td:nth-of-type(2) {
  flex: 2;
}

.supervisor_table_row th:nth-of-type(3),
.supervisor_table_row td:nth-of-type(3) {
  flex: 1;
}
