$indictator_negative_color: #ff0000;
$indicator_positive_color: #00c800;

.supervisor_indicator_container {
  width: 20em;
}

.supervisor_indicator_legend {
  font-size: x-small;
}

.supervisor_indicator_legend_negative,
.supervisor_indicator_legend_positive {
  border: 1px solid;
  font-size: smaller;
  padding: .25em;
  width: 50%;
}

.supervisor_indicator_negative,
.supervisor_indicator_legend_negative {
  background: $indictator_negative_color;
  border: 1px solid;
  display: inline-block;
  text-align: center;
}

.supervisor_indicator_positive,
.supervisor_indicator_legend_positive {
  background: $indicator_positive_color;
  border: 1px solid;
  display: inline-block;
  text-align: center;
}

.supervisor_indicator_legend_negative_positive,
.supervisor_indicator_negative_positive {
  display: inline-block;
  width: 80%;
}

.supervisor_indicator_transition_aged_youth,
.supervisor_indicator_legend_transition_aged_youth {
  display: inline;
  font-size: smaller;
}
