<% if display_active_banner? %>
  <div class="bg-secondary-100 text-xl p-5 d-flex" data-controller="dismiss" data-dismiss-target="element">
    <div class="">
      <%= active_banner.content %>
    </div>
    <div class="ms-auto">
      <a href="#" data-action="click->dismiss#dismiss" data-dismiss-id-param="<%= banner_cookie_name %>">Dismiss</a>
    </div>
  </div>
<% end %>
