<footer>
  <p class="copyright">© CASA Prince George's County</p>
  <p class="address">6811 Kenilworth Avenue, Suite 402 Riverdale, MD 20737</p>
  <%= image_pack_tag("media/src/images/logo.png") %>
  <ul class="site-footer__links">
    <li>
      <a href="https://pgcasa.org/contact/">Contact Us</a>
    </li>
    <li>
      <a href="https://pgcasa.org/subscribe-to-newsletter/">Subscribe to newsletter</a>
    </li>
    <li>
      <a href="https://www.givedirect.org/give/givefrm.asp?CID=4450">Donate</a>
    </li>
  </ul>
</footer>
