<header>
  <nav class="navbar navbar-expand-lg bg-primary justify-content-between">
    <div class="navbar-brand py-0">
      <%= image_tag("default-logo.png", alt: "CASA logo", size: "70x38") %>
      <strong class="login-header"><%= page_header %></strong>
    </div>
  </nav>
</header>
