<nav class="navbar mobile">
  <%= image_tag("icon-logo.png",
                     sizes: "72x72",
                     rel: "icon",
                     type: "image/png",
                     class: "mobile-icon") %>
  <button id="toggle-sidebar-js" type="button" class="btn btn-outline-light">
    Menu
  </button>
</nav>
