<div id="notifications">
  <div id="async-waiting-indicator" style="display: none">
    Saving <i class="load-spinner"></i>
  </div>
  <div id="async-success-indicator" class="success-indicator" style="display: none">
    Saved
  </div>
  <button id="toggle-minimize-notifications" style="display: none;">
    minimize notifications 
    <span class="badge badge-pill badge-success">1</span>
    <span class="badge badge-pill badge-warning">1</span>
    <span class="badge badge-pill badge-danger">1</span>
    <i class="fa-solid fa-minus"></i>
  </button>
</div>
