<!DOCTYPE html>
<html>
  <head>
    <title>PG CASA</title>
# frozen_string_literal: true
csrf_meta_tags
 %>
# frozen_string_literal: true
csp_meta_tag
 %>
# frozen_string_literal: true
render 'shared/favicons'
 %>
# frozen_string_literal: true
stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
 %>
# frozen_string_literal: true
javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
 %>
  </head>
# frozen_string_literal: true
body_class
 %>">
# frozen_string_literal: true
render 'layouts/header'
 %>
    <main>
      <div class="container">
        <div class="header-flash">
# frozen_string_literal: true
flash.each
 do |key, value| %>
# frozen_string_literal: true
flash_class(key)
 %> alert-dismissible fade show" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="Close" style="text-decoration: none;">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
# frozen_string_literal: true
sanitize(value, tags: %w[ul li])
 %>
            </div>
          <% end %>
        </div>
        <div class="content">
# frozen_string_literal: true
yield
 %>
        </div>
      </div>
    </main>
# frozen_string_literal: true
render 'layouts/footer'
 %>
  </body>
</html>
